table {
    width: 100%;
  }
  mat-icon{
    cursor: pointer;
  }
  .users-heading{
    color: #673ab7;
    font-size: 26px;
    font-weight: 600;
  }
  .hobby {
    background-color: #e0e0e0;
    margin: 3px;
    padding: 6px 8px;
    border-radius: 16px;
  }